.header {
    background: #323031;
    border: 1px solid #979797;
    width: 100%;
    height: 50px;
    margin-bottom: 0.5%;
    padding: 0 20px;
}

.headerText {
    /* Intreddit: */
    font-family: Arial-Black;
    font-size: 34px;
    color: #FFFFFF;
    line-height: 54px;
}